/* Estilos gerais */
body {
    background: linear-gradient(to right, #fd6b46, #f89b55);
}

.container {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    margin: auto;
    color: #fff;
    margin-top: 3em;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.voltar {
    display: flex;
}

.voltar a {
    font-size: 2em;
    color: #fff;
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;
}

.voltar a:hover {
    transform: rotate(360deg);
}

.container img {
    width: 6em;
    border-radius: 1em;
}

.icon span {
    font-size: 2em;
}

.icon h2 {
    padding: 0;
    margin: 0;
}

.container form {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.input {
    width: 15em;
    display: flex;
    border-bottom: 2px solid #fff;
    height: 2em;
}

.input span {
    margin-right: 0.5em;
    font-size: 1.5em;
    margin-left: .2em;
}

.input input {
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
}

.input input::placeholder {
    color: #fff;
}

.input input:focus {
    border: none;
    outline: none;
}

.ver button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.5em;
    margin-right: .1em;
    cursor: pointer;
}

.entrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.entrar button {
    width: 15em;
    height: 2.5em;
    border-radius: .5em;
    background-color: #f35e38;
    border: none;
    color: #fff;
    font-size: 1.3em;
    cursor: pointer;
    transition: .5s linear;
}

.entrar button:hover {
    background-color: #a74228;
}

.container p {
    font-size: 1.2em;
}

/* Media query para telas menores (até 540px) */
@media only screen and (max-width: 540px) {
    .container {
        padding: 15px;
        max-width: 100%;
        margin-top: 3em;
    }

    .container img {
        width: 4em;
    }

    .icon span {
        font-size: 1.5em;
    }

    .input {
        width: 12em;
    }

    .input input {
        font-size: 1.1em;
    }

    .entrar button {
        width: 12em;
        height: 2.2em;
        font-size: 1.1em;
    }

    .container p {
        font-size: 1em;
    }

    .voltar a {
        font-size: 1.5em;
    }

    .icon h2 {
        font-size: 1.5em;
    }
}
