.nav{
    display: none;
    justify-content: end;
    background-color: #f0f0f0; /* Cor de fundo da navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 10px 20px; /* Espaçamento interno */
    border-bottom: 1px solid #e0e0e0;
    align-items: center;
    text-align: center;
}

.img img{
    width: 4em;
    margin: .5em;
    border-radius: 0.5em;
}

.logar{
    margin-right: 1em;
    display: flex;
    gap: 2em;
}

.logar a{
    text-decoration: none;
    color: #aaa;
    
}

.logar a :hover{
 color: #0077e7;
}

.registro{
    display: grid;
}

.registro span{
    font-size: 1.5em;
}

.p_ola{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 7em;
    border-radius: 5px;
    background-color: rgb(243, 158, 0);
}

.ola {
     color: white;
}



@media(max-width: 510px){
    .nav{
        display: flex;
        justify-content: space-around;
        height: 4em; 
    }

    .logar{
        align-items: center;
        text-align: center;  
    }
    .ola{
        display: flex;
        gap: 1em;
        justify-content: space-between;
        align-items: center;
        text-align: center;  
    }
    
}